<h1>hi from Bookmarks#new</h1>

<%# <ul>
  <% @movies.each do |movie| %>
    <%# <li><%= list.name%></li>
    <li><%= link_to movie.name, movie_path(movie.id)%></li>
  <% end %>
</ul>

<%= link_to "back to list", lists_path%>

</div> %>


<h3>Add a movie to your <%= @list.name %> list</h3>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
          <%= f.association :movie, prompt: "Select a movie", input_html: {data: {controller: "tom-select"}} %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
